.nav-bar {
    width: 100%;
    height: 5em;
    background-color: blue;
    margin-top: -17px;
    display: flex;
    justify-content: flex-end;
}

#nav-bar-break {
    width: 1px;
    height: 80%;
    background-color: black;
}

#yourapp {
    margin-right: auto;
    margin-top: auto;
}