// Top nav bar
.nav-bar {
    width: 100%;
    height: 4em;
    margin-left: 0;
    background-color: $base-color;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 1000;
    grid-area: navigation;
}

#nav-bar-break {
    width: 1px;
    height: 60%;
    margin-top: .2em;
    background-color: $secondary-color-dark;    
}

#yourapp {
   margin-top: 1.25em;
   margin-right: auto;
   padding-left: 1em;
   color: white;
}

#name {
    padding: 0 1.5em 0 .5em;
    color: white;
    font-size: 0.75em;
}

// Side nav bar
.side-bar { 
    background-color: $secondary-color;
    display: flex;
	justify-content: center;
	align-content: center;
    position: sticky;
    top: 4em;
    overflow: hidden;
    width: 100vw;
    z-index: 1;
    } 

