// Font
* {
    font-family: 'Mulish', sans-serif;
}

#traffic-header {
  text-align: center;
}

#dashboard-header {
    text-align: center;
    margin-top: 4em;
  }

  // Members
.members-text p,
.members-text a{
    margin:  15px 5px 0;
    font-size: .6rem;
}

.mail-notification {
  margin-left: 1em;
}
